{{ partial "header" .}}

<h1 style="margin-bottom: 30px; margin-top: 10px; border-bottom: #8494a4 1px solid">Projects</h1>
  {{ $pages := where site.RegularPages "Type" "in" "projects" }}
  {{ range ($pages.ByParam "id") }}
    {{ partial "projects/item" .}}
  {{ end }}

<h1 style="margin-bottom: 30px; margin-top: 10px; border-bottom: #8494a4 1px solid">Kaggles</h1>
  {{ $pages := where site.RegularPages "Type" "in" "kaggles" }}
  {{ range ($pages.ByParam "id") }}
    {{ partial "projects/item" .}}
  {{ end }}

  <h1 style="margin-bottom: 30px; margin-top: 10px; border-bottom: #8494a4 1px solid">Tutorials</h1>
    {{ $pages := where site.RegularPages "Type" "in" "tutorials" }}
    {{ range ($pages.ByParam "id") }}
      {{ partial "projects/item" .}}
    {{ end }}
